/.idea/
/nbproject/
/target/
/jsp-version/
*.class
.class
*.log
*.bat
launch.bat
.lnk
*.lnk
Test Results - com_mycompany_flooringmasteryweb_controller_in_FlooringMasteryWeb.xml
Test Results - OrdersControllerIT.xml
Test Results - *.xml
/target*/
