<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="SQLBase-applicationContext.xml"/>
    <import resource="stateDao-context.xml"/>
    <import resource="productDb-applicationContext.xml"/>
    <import resource="orderDb-ApplicationContext.xml"/>

    <bean id="addressDao" class="com.mycompany.flooringmasteryweb.dao.AddressDaoPostgresImpl">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>

    <bean id="timingDao" class="com.mycompany.flooringmasteryweb.dao.TimingDao">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>

    <import resource="timingAspectContext.xml"/>
    <import resource="auditContext.xml"/>
    <import resource="productTitleCaseContext.xml"/>
    <import resource="defaultNumbers-ApplicationContext.xml"/>

    <bean id="restValidationHandler"
          class="com.mycompany.flooringmasteryweb.validation.RestValidationHandler" />

</beans>