<table id="order-table" class="table table-hover">
    <tr id="order-header">
        <th><a class="mask-link" href="?sort_by=id" th:text="#{order.list.number}">Order Number</a></th>
        <th><a class="mask-link" href="?sort_by=name" th:text="#{order.list.name}">Order Name</a></th>
        <th><i class="glyphicon glyphicon-edit"></i> <span th:text="#{order.list.edit}">Edit</span></th>
        <th><i class="glyphicon glyphicon-remove"></i> <span th:text="#{order.list.delete}">Delete</span></th>
    </tr>

    <tr id="order-row-1" th:id="${'order-row-' + order.id}" th:each="order : ${orders}">
        <td><a class="disable-link-in-table" data-order-id="1" th:data-order-id="${order.id}" data-toggle="modal" data-target="#showDetailModal"
               href="/orders/1"
               th:href="@{'~/orders/' + ${order.id}}"
               th:text="${order.id}">1</a>
        </td>
        <td>
            <a href="/orders/1"
                th:href="@{'~/orders/' + ${order.id}}"
                th:text="${order.name}">Pat Toner</a>
        </td>
        <td><a data-order-id="1" th:data-order-id="${order.id}" data-toggle="modal" data-target="#editDetailModal" th:text="#{order.list.edit}">Edit</a></td>
        <td><a data-order-id="1" th:data-order-id="${order.id}" class="delete-link" th:text="#{order.list.delete}">Delete</a></td>
    </tr>
</table>

<div class="text-center" th:if="${#lists.isEmpty(orders)}" th:utext="#{order.list.noResults}">
    No Results
</div>

<div th:replace="partials/pagingFooter" />