<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{application.title.default}">Flooring Master</title>
    <link th:replace="partials/commonHead"/>
    <link href="/css/jquery-ui.min.css" th:href="@{~/css/jquery-ui.min.css}" rel="stylesheet">
    <link href="/css/jquery-ui.structure.min.css" th:href="@{~/css/jquery-ui.structure.min.css}" rel="stylesheet">
    <link href="/css/jquery-ui.theme.min.css" th:href="@{~/css/jquery-ui.theme.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 th:text="#{application.title.default}">Flooring Master</h1>
    <hr/>
    <div th:replace="partials/banner"/>

            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <div th:replace="order/_createOrderForm"/>
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <div th:replace="order/_listOrders" />
                </div>
            </div>
        </div>

        <div th:replace="order/_showOrderModal"/>
        <div th:replace="order/_editOrderModal"/>

        <div th:replace="partials/commonScript"/>

        <script src="/jquery-ui-1.12.1/jquery-ui.min.js" th:src="@{~/jquery-ui-1.12.1/jquery-ui.min.js}"></script>
        <script src="/js/flooringapp.js" th:src="@{~/js/flooringapp.js}"></script>
        <script>
            $(function () {
                $("#jQueryDatePicker").datepicker();
                $("#jQueryDatePicker").datepicker('setDate', new Date());
            });
        </script>
    </body>
</html>