<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{application.title.default}">Flooring Master</title>
    <link th:replace="partials/commonHead"/>
</head>
<body>
<div class="container">
    <h1 th:text="#{application.title.default}">Flooring Master</h1>
    <hr/>
    <div th:replace="partials/banner"/>

            <div class="text-center">
                <h1>No Information Could Be Found For That Order.</h1>
            </div>
        </div>
        <div th:replace="partials/commonScript"/>
    </body>
</html>