<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{application.title.default}">Flooring Master</title>
    <link th:replace="partials/commonHead"/>
</head>
<body>
<div class="container">
    <h1 th:text="#{application.title.default}">Flooring Master</h1>
    <hr/>
    <div th:replace="partials/banner"/>

    <div class="row">
        <div class="col-md-6 col-md-push-6 text-center">

            <form method="POST" action="#" th:action="@{~/orders/search}" class="form-horizontal">

                <div class="form-group">

                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-6 text-center">
                            <div th:if="${error}" class="text-center alert-warning">
                                The System Could Not Understand That Input
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <select name="searchBy" class="form-control">
                                <option value="searchByEverything">Search Orders By Everything</option>
                                <option value="searchByOrderNumber">Search By Order Number</option>
                                <option value="searchByName">Search By Order Name</option>
                                <option value="searchByProduct">Search By Product</option>
                                <option value="searchByState">Search By State</option>
                                <option value="searchByDate">Search By Date</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-2"></div>
                        <div class="col-md-6 text-center">
                            <div th:if="${dateError}" class="text-center alert-warning">
                                The System Likes Dates in YYYY-DD-MM
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" name="searchText" id="searchText"
                                   placeholder="Type Search Criteria Here"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-6 text-center">
                            <input type="submit" class="btn btn-default"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6 col-md-pull-6">
            <div th:replace="order/_listOrders"/>
        </div>
    </div>
</div>

<div th:replace="order/_showOrderModal"/>
<div th:replace="order/_editOrderModal"/>

<div th:replace="partials/commonScript"/>

<script src="/jquery-ui-1.12.1/jquery-ui.min.js" th:src="@{~/jquery-ui-1.12.1/jquery-ui.min.js}"></script>
<script src="/js/flooringapp.js" th:src="@{~/js/flooringapp.js}"></script>
<script>
            $(function () {
                $("#jQueryDatePicker").datepicker();
                $("#jQueryDatePicker").datepicker('setDate', new Date());
            });
</script>
</body>
</html>