<div class="navbar">
    <ul class="nav nav-tabs">
        <li role="presentation"><a th:href="@{~/}">Home</a></li>
        <li role="presentation"><a th:href="@{~/orders/search}">Search</a></li>
        <li role="presentation"><a th:href="@{~/address/}">Address Panel</a></li>
        <li role="presentation"><a th:href="@{~/admin/}">Administration Home</a></li>
        <li role="presentation"><a th:href="@{~/state/}">Sales Tax Panel</a></li>
        <li role="presentation"><a th:href="@{~/product/}">Product Panel</a></li>
        <li role="presentation"><a th:href="@{~/audits/}">Audit Panel</a></li>
    </ul>
</div>
