<link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{~/css/main.css}" rel="stylesheet">
<link rel="shortcut icon" th:href="@{~/img/icon.png}">
<script>var href=window.location.href;href=href.replace(/nothing/g,'sort_by');if(href.indexOf('sort_by=')>0){if(href.indexOf("&")>0){var querys=href.split('?')[1].split("&");for(i=0;i<querys.length;i++){if(querys[i].indexOf('sort_by=')>-1){href=href.replace(querys[i],'');}}}for(i=0;i<25&&href.indexOf('&&')>0;i++){href=href.replace('&&','&');}href=href.replace('?&','?');window.location.href=href;}</script>