<script th:inline="javascript" th:with="requestRoot=${#httpServletRequest.getContextPath()}">
    var contextRoot = /*[[${requestRoot}]]*/ "";
    var flooringPath = contextRoot + "/orders/";
    var addressPath = contextRoot + "/address/";
    var auditPath = contextRoot + "/audits/";
    var timingPath = contextRoot + "/timing/";
</script>

<script th:src="@{~/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{~/js/bootstrap.min.js}"></script>
<script th:src="@{~/js/timingapp.js}"></script>
