<div class="row text-center paging-footer-parent">

        <a th:if="${first_link}" th:href="${#httpServletRequest.getContextPath() + first_link}">
            <div class="btn btn-default col-2 paging-footer" th:utext="#{navigation.firstPage}">First Page</div>
        </a>

        <a th:if="${prev_link}" th:href="${#httpServletRequest.getContextPath() + prev_link}">
            <div class="btn btn-default col-2 paging-footer" th:utext="#{navigation.prevPage}">&lt; Prev Page</div>
        </a>

        <div th:if="${current_page}" id="current-page-number" class="current-page-number col-2" th:text="${current_page}">2</div>

        <a th:if="${next_link}" th:href="${#httpServletRequest.getContextPath() + next_link}">
            <div class="btn btn-default col-2 paging-footer" th:utext="#{navigation.nextPage}">Next Page &gt;</div>
        </a>

        <a th:if="${last_link}" th:href="${#httpServletRequest.getContextPath() + last_link}">
            <div class="btn btn-default col-2 paging-footer" th:utext="#{navigation.lastPage}">Last Page</div>
        </a>
</div>