#name-address {
    text-align: center;
    min-height: 30px;
    font-size: smaller;
}

.mask-link {
    text-decoration: inherit;
    color: inherit;
}

.loading-division {
    text-align: center;
    font-size: x-large;
}

.timing-container {
    margin-top: 20px;
    text-align: center;
    font-size: smaller;
}

.timing-label {
    text-align: right;
}

.timing-value {
    text-align: left;
}

@media (max-width: 992px) {
    .timing-label {
        text-align: left;
    }
    .timing-value {
        text-align: left;
    }
    .timing-row {
        margin: 10px;
    }
}

