<table id="audit-table" class="table table-hover">
    <th>ID</th>
    <th>Order ID</th>
    <th>Action Performed</th>
    <th>Date From Order</th>
    <th>Date Of Audit</th>
    <th>Order Name</th>
    <th>Order Total</th>

        <tr th:each="audit : ${audits}" th:id="${'audit-row-' + audit.id}" >
            <td th:text="${audit.id}"></td>
            <td th:text="${audit.orderid}"></td>
            <td th:text="${audit.actionPerformed}"></td>
            <td th:text="${#dates.format(audit.date, 'dd MMMM yyyy')}"></td>
        <td th:text="${#dates.format(audit.logDate, 'dd MMMM yyyy')}"></td>
        <td th:text="${audit.orderName}"></td>
        <td th:text="${audit.orderTotal}"></td>
        </tr>
</table>

<div id="loading-animation">
    <div colspan="7" class="loading-division">
        <img th:src="@{~/img/ui-anim_basic_16x16.gif}" class="loading-spinner" />
        <span class="loading-text" th:text="#{audit.loading}">
            Loading Audits, Please Wait...
        </span>
    </div>
</div>
