<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>event.log</file>
        <encoder>
            <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
            <immediateFlush>false</immediateFlush>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>
    <logger name="jsonLogger" additivity="false" level="DEBUG">
        <appender-ref ref="consoleAppender"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="AUDIT_FILE" />
    </root>
</configuration>