<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{application.title.default}">Flooring Master</title>
    <link th:replace="partials/commonHead"/>
</head>
<body>
<div class="container">
    <h1 th:text="#{application.title.default}">Flooring Master</h1>
    <hr/>
    <div th:replace="partials/banner"/>

            <div class="row">
                <div class="col-md-6">
                    <div th:replace="product/_list"/>
                </div>
                <div class="col-md-6">
                    <div th:replace="state/_list"/>
                </div>
            </div>
        </div>
<div th:replace="partials/commonScript"/>
</body>
</html>